<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stop hacker!</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Danger</h1>
    <p>Hmm... this message doesn't belong to you.  Are you trying to hack my site???</p>
    <p>We have recordered your IP address.  Next time you attempt an activity like this we'll log you off automatically and report your ip address to our site administrator.</p>
</body>
</html>